*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

header{
    background:#1e293b;
    color:white;
    padding:20px;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#334155;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sidebar button{
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.contenido{
    flex:1;
    padding:20px;
}

.seccion{
    display:none;
}

.activa{
    display:block;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th, td{
    padding:10px;
    border:1px solid #ddd;
}
